.center-containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 2rem; */
  /* margin-top: -2rem; */
  height: calc(100vh - 60px); /* Full viewport height minus navbar height */
}

.registration-container {
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Adding shadow effect */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  flex: 1; /* Use flex property to allow the input field to expand */
  height: 100%;
  padding: 0 10px; /* Adjust padding as needed */
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  /* border-radius: 20px; */
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

/* Add this to your CSS file */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 461px) {
  .center-containerr{
    height: calc(85vh - 60px);
    scale: 0.9;
  }
}
@media screen and (max-width: 413px) {
  .center-containerr{
    height: calc(80vh - 60px);
    scale: 0.8;
  }
}

@media screen and (max-width: 364px) {
  .center-containerr{
    height: calc(75vh - 60px);
    scale: 0.7;
  }
}