/* Sidebar.css */
.bg-white {
    background-color: #ffffff;
    width: 15rem;
    padding: 1rem;
    margin-top: 5px;
    border-radius: 8px;
}

.text-lg {
    font-size: 1.125rem; /* Adjust as needed */
}

.font-semibold {
    font-weight: 600;
}

.text-zinc-600 {
    color: #718096;
}

.mt-6 {
    margin-top: 1.5rem; /* Adjust as needed */
}

.hr {
    border-top-width: 1px;
}

.my-2 {
    margin-bottom: 0.5rem;
    margin-top: -1rem;
}

.block {
    display: block;
}

.text-sm {
    font-size: 0.875rem; /* Adjust as needed */
}

.font-medium {
    font-weight: 500;
}

.text-zinc-700 {
    color: #4a5568;
}

.mt-1 {
    margin-top: 0.25rem;
}

.px-3 {
    padding-left: 0.75rem; /* Adjust as needed */
    padding-right: 0.75rem; /* Adjust as needed */
}

.py-2 {
    padding-top: 0.5rem; /* Adjust as needed */
    padding-bottom: 0.5rem; /* Adjust as needed */
}

.border {
    border-width: 1px;
}

.border-zinc-300 {
    border-color: rgb(0, 0, 0);
}

.rounded-md {
    border-radius: 0.375rem; /* Adjust as needed */
}

.shadow-sm {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.focus\:ring-indigo-500:focus {
    --ring-opacity: 1;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.focus\:border-indigo-500:focus {
    border-color: #667eea;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.sm\:text-sm {
    font-size: 0.875rem; /* Adjust as needed */
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-2 > * {
    margin-right: 0.5rem; /* Adjust as needed */
    margin-bottom: 0.5rem; /* Adjust as needed */
}

.bg-blue-500 {
    background-color: #4299e1;
}

.hover\:bg-blue-700:hover {
    background-color: #2b6cb0;
}

.text-white {
    color: #fff;
}

.font-bold {
    font-weight: 700;
}

.py-2 {
    padding-top: 0.5rem; /* Adjust as needed */
    padding-bottom: 0.5rem; /* Adjust as needed */
}

.px-4 {
    padding-left: 1rem; /* Adjust as needed */
    padding-right: 1rem; /* Adjust as needed */
}

.rounded {
    border-radius: 0.25rem; /* Adjust as needed */
}

.w-full {
    width: 100%;
}

.bg-zinc-200 {
    background-color: #edf2f7;
}

.text-black {
    color: #000;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

[type='checkbox'] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #edf2f7;
    border: 1px solid #cbd5e0;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
    flex-shrink: 0;
}

[type='checkbox']:checked {
    background-color: #4299e1;
    border-color: #4299e1;
}


/*new css*/
.clickable-button {
    cursor: pointer;
}

/* Style for buttons when clicked */
.bg-blue-500.clicked {
    background-color: #4299e1 !important;
}

/* Style for default buttons */
.bg-white.button {
    background-color: #fff !important;
    color: #4299e1 !important;
    border: 1px solid #4299e1 !important;
}

/* Hover style for default buttons */
.bg-white.button:hover {
    background-color: #4299e1 !important;
    color: #fff !important;
}

/* Additional styles */

/* Adjustments for select elements */
.select {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 2.5rem; /* Adjust as needed */
    margin-top: 0.25rem; /* Adjust as needed */
}

.select::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 0.75rem; /* Adjust as needed */
    transform: translateY(-50%);
    pointer-events: none;
}

.select select {
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem; /* Adjust as needed */
    border: 1px solid #cbd5e0;
    border-radius: 0.375rem; /* Adjust as needed */
    background-color: #fff;
    font-size: 0.875rem; /* Adjust as needed */
    appearance: none;
    outline: none;
}

/* Adjustments for range input */
input[type='range'] {
    width: 100%;
    height: 0.5rem; /* Adjust as needed */
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    border-radius: 0.25rem; /* Adjust as needed */
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem; /* Adjust as needed */
    height: 1rem; /* Adjust as needed */
    background: #4299e1;
    cursor: pointer;
    border-radius: 50%;
}

input[type='range']:hover {
    opacity: 1;
}


/* SideBar.css */

/* Button styles */
.button {
    background-color: #ffffff;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: 1px solid #cbd5e0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: .75rem;
    /* width: fit-content; */
    max-width: 100%;
}
.light-blue {
    background-color: aqua;
}

.sidebar {
    max-width: 20rem; /* Set maximum width for the sidebar */
}
.button:hover {
    background-color: aqua;
}
.flex-wrap {
    flex-wrap: wrap; /* Wrap items onto multiple lines */
}


/*Checkbox*/
/* .custom-checkbox {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
  
  .custom-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #ccc;
    border-radius: 4px;
    transition: 0.3s;
  }
  
  .custom-checkbox input:checked + .checkmark {
    background-color: #4caf50;
    transform: scale(1.1);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 8px;
    top: 4px;
    width: 8px;
    height: 16px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
  .custom-checkbox input:checked + .checkmark:after {
    display: block;
  } */
  .wrap-check-51 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .wrap-check-51 label {
    display: inline-block;
  }
  
  .wrap-check-51 .cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
  }
  
  .wrap-check-51 .cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }
  
  .wrap-check-51 .lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
  
  .wrap-check-51 input[type="checkbox"]:checked ~ .cbx {
    border-color: transparent;
    background: #6871f1;
    animation: jelly-42 0.6s ease;
  }
  
  .wrap-check-51 input[type="checkbox"]:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
  
  @-moz-keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  
  @-webkit-keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  
  @-o-keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  
  @keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  