.leaflet-container {
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: transparent;
}
.city-tooltip {
  background-color: #ffffff;
  border: 2px solid #f77d1e;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  opacity: 0; /* Start with tooltip hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.leaflet-tooltip {
  font-size: inherit; /* Inherit font size from custom class */
}

/* Show tooltip on hover */
.leaflet-marker-icon:hover + .leaflet-tooltip {
  opacity: 1;
}
/* Default style for markers */
.leaflet-marker-icon {
  border: none; /* No border by default */
}

/* InteractiveMap.css */

.map {
  margin: 0.5rem; /* You can adjust this margin for other screens if needed */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #2a2a2e; */
}

.map-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  flex-direction: "row";
  height: 100%;
  gap: 5px;
  overflow: auto;
}

.welcome-map-container {
  position: relative;
  z-index: 9998; /* Ensure it doesn't overlap the modal */
}

.MuiDialog-root {
  z-index: 9999 !important; /* Ensure modal stays on top */
}

.map-background {
  background-image: url("/public/sea4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.map-filter-cntr {
  /* position: sticky; */
  /* top: 0; Keeps the filter container at the top */
  background-color: white; /* Background for contrast */
  padding: 0.5rem; /* Container padding */
  z-index: 1000; /* Ensure it's on top of other elements */
  display: flex;
  justify-content: center; /* Align buttons to the start */
  flex-wrap: nowrap; /* Prevent wrapping */
  gap: 0.5rem; /* Space between buttons */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent the buttons from wrapping to the next line */
  padding-bottom: 5px; /* Optional: Add some padding to the bottom for spacing */
}
.map-filter-cntr::-webkit-scrollbar {
  height: 8px; /* Scrollbar height for horizontal scrolling */
}

.map-filter-cntr::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background for the track */
}

.map-filter-cntr::-webkit-scrollbar-thumb {
  background: #888; /* Darker gray for the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

.map-filter-btn {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.3s;
  border-radius: 5px;
}

/* Hover state */
.map-filter-btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* Clicked state */
.map-filter-btn:active,
.map-filter-btn.active {
  transform: translateY(2px); /* Slight downward movement for pressed effect */
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2); /* Inset shadow for pressed look */
}

/* Additional styles for the reset button */
.reset-btn {
  background-color: white;
  border: none;
  color: #2a2a2e;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out, background-color 0.3s;
}

/* Hover state for the reset button */
.reset-btn:hover {
  transform: scale(1.05);
  background-color: #16b4dd;
  color: white;
}

/* Clicked state for the reset button */
.reset-btn:active {
  transform: scale(0.95);
  background-color: #16b4dd;
  color: white;
}

/* Media query for 14-inch screens (1366px resolution) */

@media screen and (min-width: 1440px) {
  .map {
    height: 100vh;
    width: 100%;
    padding: 0.5rem;
  }
}

/* Landscape mode for screens wider than 1440px */
@media screen and (min-width: 1440px) and (orientation: landscape) {
  .map {
    height: 100vh;
    width: 100%;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1366px) {
  .map {
    width: 100%;
    height: 100vh;
  }

  .map-background {
    height: 100%;
  }
}

/* Landscape mode for screens between 1366px and 1024px */
@media screen and (max-width: 1366px) and (orientation: landscape) {
  .map {
    width: 100%;
    height: 100vh;
  }

  .map-background {
    height: 100%;
  }
}

/* Media query for medium screens (like tablets) */
@media screen and (max-width: 1024px) {
  .map {
    width: 100%;
  }
}

/* Landscape mode for medium screens (tablets) */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .map {
    width: 80%; /* Adjust width for landscape tablets */
    height: 100vh;
  }
}

/* Media query for small screens (like phones) */
@media screen and (max-width: 768px) {
  .map {
    width: 100%;
    height: 100vh;
  }
  .map-filter-cntr {
    justify-content: flex-start; /* Align buttons to the start */
  }
}

/* Landscape mode for small screens (phones) */
@media screen and (max-width: 768px) and (orientation: landscape) {
  .map {
    width: 100%;
    height: 100vh;
  }
}

/* Extra small screens (portrait phones and smaller tablets) */
@media screen and (max-width: 480px) {
  .map-container {
    width: 100%;
    height: 100vh;
    padding: 0.5rem; /* Smaller padding for compact screens */
  }
}

/* Landscape mode for extra small screens (portrait phones and smaller tablets) */
@media screen and (max-width: 480px) and (orientation: landscape) {
  .map-container {
    width: 100%;
    height: 100vh;
    padding: 0.5rem; /* Adjust padding for landscape */
  }
}
/* Style for the tooltip */
.city-tooltip {
  background-color: #ffffff;
  border: 2px solid #f77d1e;
  border-radius: 5px;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for a cute effect */
  opacity: 0; /* Start with tooltip hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

path.leaflet-interactive {
  outline: none;
}

.instructions-dialog {
  position: absolute; /* Use absolute positioning */
  top: 20%; /* Center vertically with some offset */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -20%); /* Adjust positioning */
  width: 80%; /* Width of the dialog */
  max-width: 500px; /* Maximum width */
  background: rgba(
    255,
    255,
    255,
    0.9
  ); /* Slightly transparent white background */
  padding: 20px; /* Padding inside the content */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  z-index: 1000; /* Ensure it's above other elements */
}

.instructions-content {
  text-align: center; /* Center text alignment */
}

.instructions-content h2 {
  margin: 0; /* Remove default margin */
  font-size: 24px; /* Font size for the heading */
}

.instructions-content p {
  margin: 10px 0 20px; /* Top margin for spacing, bottom margin for spacing */
}

.instructions-content button {
  padding: 10px 20px; /* Padding for the button */
  background-color: #007bff; /* Blue background color */
  color: white; /* White text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners for the button */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size for button text */
}

.instructions-content button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
/* InteractiveMap.css */
.sticky-button-container {
  position: sticky;
  top: 100px; /* Adjust this value as needed */
  left: 10px;
  z-index: 500; /* Ensure it's above the map but below other UI elements */
  background-color: transparent; /* Remove background if needed */
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reset-btn {
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
  width: 100px; /* Same width for all buttons */
}
