.arrow-buttons {
  position: fixed;
  bottom: 20px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.arrow-buttons button {
  background-color: #d3d3d3;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.arrow-buttons button:hover {
  background-color: #555;
}

@media (min-width: 769px) {
  .arrow-buttons {
    display: none; /* Hide buttons on larger screens */
  }
}
