@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');




.forgot-password {
  max-width: 400px;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.sub-title {
  font-weight: 600;
  color: #555;
}

.reset-option {
  margin-top: 20px;
}

.reset-info {
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.reset-info:hover {
  border-color: #007bff;
}

.reset-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.reset-sub-title {
  font-size: 0.9rem;
  color: #555;
}

.input-box {
  width: 20rem;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.button {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4095ef;
}

.reset-password {
  margin-top: 20px;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.visibility-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  /* color: #007bff; */
}

.resend {
  font-size: 0.9rem;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.resend:hover {
  text-decoration: underline;
}
