.edit-profile-cntr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

.account-banner-container {
  width: 100%;
  height: 400px; /* Default height for resolutions above 1920px */
  position: relative;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

.account-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 2; /* Ensure the user details container is above the banner */
  margin-top: -250px; /* Move it up to overlap the banner */
}

.avatar-details-container {
  display: flex;
  align-items: center;
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
}

.avatar-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
}

.camera-icon-container {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 10px;
}

.camera-icon {
  font-size: 24px;
  cursor: pointer;
  color: #555;
}

.camera-icon:hover {
  color: #000;
}

.user-details {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 8rem;
}

.user-name {
  font-size: 1.3rem;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

.user-id {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  color: #6a6a6a;
}

.logout-btn-container {
  margin-left: auto;
}

.logout-btn {
  background-color: #ee414b;
  color: #fff;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  font-family: "Poppins", sans-serif;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-top: 8rem;
}

.logout-btn:hover {
  background-color: #cc3940;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.loading-container p {
  margin-top: 16px;
  font-size: 18px;
  color: #666; /* Adjust color to your theme */
}

/* Adjust  for resolutions below 1920px */
@media (max-width: 1900px) {
  .account-banner-container {
    height: 300px; /* Adjusted height for resolutions below 1920px */
  }
}
