.amenity-cntr {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: left;
}
.each-amenity {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 1rem;
  width: 15%;
}

.no-amenities {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 16px;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 16px;
}

.no-facilities {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 16px;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 16px;
}

.no-services {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 16px;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 16px;
}

.no-houserules {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 16px;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 16px;
}

.no-cancellation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 16px;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 16px;
}

.policy-grid {
  padding: 16px;
  border-radius: 8px;
  height: 200px;
  width: 480px;
  background-color: #fff;
  border: 1px solid #dddddd;
}

.policy-item {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.policy-item span {
  font-family: "Poppins", sans-serif;
}

.policy-item .bold {
  font-weight: bold;
}

.policy-item .normal {
  font-weight: normal;
  margin-left: auto;
}
