.overview-container {
  background-color: #fff;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  height: auto;
  padding: 1.5rem;
  font-family: 'Poppins', sans-serif;

}

.overview-title {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.overview-text {
  font-size: 1rem;
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.overview-ratings {
  font-size: 1.3rem;
  background-color: #ADC939;
  color: #fff;
  border-radius: 12px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  display: inline-block; /* This replaces fit-content for width */
 
}

.email-btn {
  background-color: #16B4DD;
  color: #fff;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  font-family: 'Poppins', sans-serif;
  border: none; /* Use 'none' instead of 'border-color: none' */
  box-shadow: none; /* Remove box-shadow */
  cursor: pointer; /* Add cursor pointer for better UX */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin-top: 1rem;
  font-size: 1rem;

  /* Hover effect */
  &:hover {
    background-color: #14a1c5;
  }
}
.hostdetails-cntr {
  background-color: #A334CF;
  color: #fff;
  border-radius: 8px;
  padding: 0.3rem 0.3rem;
  font-family: 'Poppins', sans-serif;
  display: inline-block; /* This replaces fit-content for width */
  font-size: 0.875rem;
}

.host-details-table {
  width: 100%;
  border-collapse: collapse; /* Remove default spacing between table cells */
}

.host-details-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd; /* Example border styling */
  font-size: 0.875rem;
}

.host-details-table td:first-child {
  font-weight: bold;
  width: 40%; /* Adjust width of first column as needed */
}

.host-details-table td:last-child {
  text-align: left; /* Align content in the second column */
}
