/* EditName specific CSS */
.edit-name-container {
  display: flex;
  flex-direction: column;
  align-items:center; /* Align EditName to the left */
  margin-bottom: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  text-align: center;
}

.edit-name-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 20%;
}

.edit-name-label {
  font-weight: 400;
  margin-bottom: 5px;
}

.edit-name-input-wrapper {
  display: flex;
  align-items: center; /* Align icon and input vertically */
  width: 20rem;
  margin-left: 8rem;

}

.edit-name-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #007bff; /* Blue stroke for input box */
  border-radius: 8px;
  margin-right: 10px; /* Add margin between input and icon */
  box-shadow: none; /* Remove box shadow */
}

.edit-name-input:focus {
  outline: none;
  border-color: #007bff; /* Blue border color on focus */
}

.edit-name-icon {
  font-size: 1.5rem;
  color: #007bff; /* Set icon color */
}

.edit-name-buttons {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
}

.cancel-button {
  background-color: #eee;
  color: #007bff; /* Blue text color for cancel button */
  margin-right: 10px;
}

.save-button {
  background-color: #007bff; /* Blue background color for save button */
  color: white; /* White text color for save button */
}
