/* AccommodationReservation.css */

/* Existing styles... */

.header .title {
  /* background-image: url("C:\Kaye\capstone1\CebuStayNew\CebuStay\fe\public\ReservationBanner.png"); */ /*kani nga path kay sa ako rani*/
  /* background-image: url("ReservationBanner.png"); ako lang sa comment kay mo error diri sa ako */
  /* background-color: #a334cf; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns content to the start (top) of the container */
  align-items: flex-start; /* Aligns content to the start (left) of the container */
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  border-bottom-left-radius: 15px; /* Curves the bottom left corner */
  border-bottom-right-radius: 15px; /* Curves the bottom right corner */
  overflow: hidden; /* Ensures content and image don’t overflow */
  height: 100px; /* Adjust height as needed */
  padding: 1rem; /* Adds some padding if needed */
}

.header p {
  font-size: 1rem;
}

.table-header {
  background-color: #f0f0f0;
}

.table-header th {
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.header-container {
  background: linear-gradient(to right, #990099, #990099, #cc00cc);
  padding: 1.5rem;
  color: #ffffff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
  text-align: center; /* Center align header title and description */
}

.header-title {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: white;
  font-family: "Poppins", sans-serif; /* Ensure to import the font if not already */
  text-align: left;
}

.header-description {
  font-size: 0.875rem;
  text-align: left;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.buttons .btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  text-decoration: none;
}

.buttons .btn.clicked {
  color: #000000; /* Change text color */
}

.buttons .btn.underline {
  text-decoration: none;
}

.btn.underline-purple::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  right: 0;
  height: 0.2rem;
  background-color: #a334cf;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 10;
  width: 10rem;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-content button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  outline: none;
}

.dropdown-content button:hover {
  background-color: #fccd6e;
  color: #fff;
}

/* Search Input */
.search-container {
  position: relative;
  margin-left: 1rem;
}

.search-container input {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  height: 3rem;
  width: 100%;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.search-container input:focus {
  border-color: #5e5e5e;
}

/* Menu Button */
.menu-button {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-left: 0.2rem;
  height: 3rem;
  cursor: pointer;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.menu-button:hover {
  background-color: #f0f0f0;
}

/* Modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.confirm-button,
.cancel-button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.confirm-button {
  background-color: #4caf50;
  color: white;
}

.confirm-button:hover {
  background-color: #45a049;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}

.cancel-button:hover {
  background-color: #da190b;
}

/* Table */
.table-container {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;
}

.table-container table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table-container th {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #f0f0f0;
}

.table-container td {
  padding: 0.5rem 1rem;
}

/* Responsive Design */
.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/* Media Queries for Small Screens */
@media (max-width: 400px) {
  .header .title {
    font-size: 1rem; /* Adjust font size for smaller screens */
    height: auto; /* Allow height to adjust automatically */
  }

  .header-container {
    padding: 0.5rem; /* Reduce padding */
  }

  .header-title {
    font-size: 1rem; /* Adjust header title size */
  }

  .buttons {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons */
  }

  .buttons .btn {
    padding: 0.5rem; /* Adjust button padding */
    font-size: 0.6rem; /* Reduce button font size */
    width: 100%; /* Full width */
    margin-bottom: 0.5rem; /* Space between buttons */
  }

  .search-container input {
    height: 2.5rem; /* Adjust input height */
  }

  .menu-button {
    height: 2.5rem; /* Adjust button height */
  }

  .modal-content h2 {
    font-size: 1.25rem; /* Adjust modal title size */
  }

  .modal-content p {
    font-size: 0.9rem; /* Adjust modal text size */
  }

  .table-header th {
    font-size: 0.7rem; /* Adjust table header font size */
  }

  .table-container td {
    font-size: 0.7rem; /* Adjust table cell font size */
    padding: 0.5rem; /* Adjust padding */
  }
}

@media (max-width: 400px) {
  .header-title {
    font-size: 1rem; /* Further reduce font size for extra small screens */
  }

  .buttons .btn {
    font-size: 0.5rem; /* Reduce button font size */
  }

  .search-container input {
    padding: 0.3rem; /* Adjust input padding */
  }

  .table-header th,
  .table-container td {
    font-size: 0.45rem; /* Further reduce table font sizes */
  }
}
