html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  background-image: url("/public/RegisterBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}

.accommodation-registration-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white; /* Ensure the header has a background */
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;

  margin-bottom: 4rem;
}


