.nextButton-container {
  display: flex;
  justify-content: center;
  margin: 1rem; /* Add margin around the button container */
}

.nextButton {
  border: none;
  outline: none;
  background-color: #6c5ce7;
  padding: 0.625rem 1.25rem; /* 10px to rem */
  font-size: 1rem; /* Increased font size */
  font-weight: 700;
  color: #fff;
  border-radius: 0.3125rem; /* 5px to rem */
  transition: all ease 0.1s;
  box-shadow: 0px 0.3125rem 0px 0px #a29bfe; /* 5px to rem */
  width: 10rem; /* Adjust width as needed */
  font-family: 'Roboto', sans-serif; /* Set font to Roboto */
}

.nextButton:active {
  transform: translateY(0.3125rem); /* 5px to rem */
  box-shadow: 0px 0px 0px 0px #a29bfe;
}
